In [2]:
import pandas as pd
import numpy as np



import pandas as pd 
tsv_file='rt.reviews.tsv'
csv_table=pd.read_table(tsv_file,sep='\t')
csv_table.to_csv('new_name.csv',index=False)

In [5]:
df.shape

NameError: name 'df' is not defined

In [6]:
df.shape

NameError: name 'df' is not defined

In [7]:
df5 = pd.read_csv('rt.movie_info.tsv', sep = '\t')
df5

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [8]:



df = pd.read_csv('tn.movie_budgets.csv')
df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [9]:
pd.concat([df5, dfff], axis=1, join='inner')

NameError: name 'dfff' is not defined

In [10]:
df.shape

(5782, 6)

In [11]:
print(df.info)
print(df.columns)
print(df.dtypes)

<bound method DataFrame.info of       id  release_date                                        movie  \
0      1  Dec 18, 2009                                       Avatar
1      2  May 20, 2011  Pirates of the Caribbean: On Stranger Tides
2      3   Jun 7, 2019                                 Dark Phoenix
3      4   May 1, 2015                      Avengers: Age of Ultron
4      5  Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi
...   ..           ...                                          ...
5777  78  Dec 31, 2018                                       Red 11
5778  79   Apr 2, 1999                                    Following
5779  80  Jul 13, 2005                Return to the Land of Wonders
5780  81  Sep 29, 2015                         A Plague So Pleasant
5781  82   Aug 5, 2005                            My Date With Drew

     production_budget domestic_gross worldwide_gross
0         $425,000,000   $760,507,625  $2,776,345,279
1         $410,600,000   $241,063,875  $1,045,663,875
2         $350,000,000    $42,762,350    $149,762,350
3         $330,600,000   $459,005,868  $1,403,013,963
4         $317,000,000   $620,181,382  $1,316,721,747
...                ...            ...             ...
5777            $7,000             $0              $0
5778            $6,000        $48,482        $240,495
5779            $5,000         $1,338          $1,338
5780            $1,400             $0              $0
5781            $1,100       $181,041        $181,041

[5782 rows x 6 columns]>
Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')
id                    int64
release_date         object
movie                object
production_budget    object
domestic_gross       object
worldwide_gross      object
dtype: object

In [12]:
thu = df.iloc[:, 2:6]
thu

,movie,production_budget,domestic_gross,worldwide_gross
0,Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...
5777,Red 11,"$7,000",$0,$0
5778,Following,"$6,000","$48,482","$240,495"
5779,Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,A Plague So Pleasant,"$1,400",$0,$0
5781,My Date With Drew,"$1,100","$181,041","$181,041"

In [13]:
s = dfff['production_budget'].sort_values(ascending = False)
s.head(25)

NameError: name 'dfff' is not defined

In [14]:
fv = s.map(lambda x: x[1])
g = fv.map(lambda x: x.strip())
y = g.map(lambda x: x.replace(',', ''))
h = np.array(y)
h

NameError: name 's' is not defined

In [15]:
print(dfff['worldwide_gross'].dtype)
dfff['worldwide_gross'] = dfff['worldwide_gross'].astype(float)

NameError: name 'dfff' is not defined

In [16]:
t = pd.to_numeric(dfff['production_budget'], errors = 'ignore')
t

NameError: name 'dfff' is not defined

In [17]:
new_df = df.worldwide_gross.map(lambda x: x.split('$'))
type(new_df)

pandas.core.series.Series

In [18]:
dfff = thu.applymap(lambda x: x.split('$'))

In [19]:
dfff.sort_values(by = ['worldwide_gross'])

,movie,production_budget,domestic_gross,worldwide_gross
5489,[Rodeo Girl],"[, 500,000]","[, 0]","[, 0]"
4388,[Psych 9],"[, 5,000,000]","[, 0]","[, 0]"
5370,[Vessel],"[, 800,000]","[, 0]","[, 0]"
2754,[Out of the Inferno],"[, 19,000,000]","[, 0]","[, 0]"
5032,[Against the Wild],"[, 1,800,000]","[, 0]","[, 0]"
...,...,...,...,...
5613,[Mad Max],"[, 200,000]","[, 8,750,000]","[, 99,750,000]"
883,[Hellboy],"[, 60,000,000]","[, 59,623,958]","[, 99,823,958]"
5062,[Insidious],"[, 1,500,000]","[, 54,009,150]","[, 99,870,886]"
3432,[Duma],"[, 12,000,000]","[, 870,067]","[, 994,790]"
3737,[Fifty Dead Men Walking],"[, 10,000,000]","[, 0]","[, 997,921]"

In [20]:

dfff_new = dfff['worldwide_gross'] - dfff['production_budget']

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [21]:
roi = []
for i in dfff['worldwide_gross']:
    for q in dfff['production_budget']:
        roi.append(i - q)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [22]:
p = dfff['production_budget'].map(lambda y: y)

In [23]:
dfff['worldwide_gross'] = dfff['worldwide_gross'].astype(float)

ValueError: setting an array element with a sequence.